/*EXERCISE 1.4.4 -  - BOX POSITIONING WITH FLOATS ETC ***/
/*THE TABLE APPROACH*/

.main-container{
	width: 420px;
	min-height: 300px;
	padding: 0px;
	border: 1px red solid;
	margin-top: 0px;
	/*margin-right: auto;*/
	margin-left: 330px;
	/*position: relative;*/
	
}

#img {
	position: absolute;
	margin-top: 2px;
	margin-right: 2px;
}



#red{
	background-color: #D12F46;
}

#orange{
	background-color: #DBAE4D;
}

#yellow{
	background-color: #F5FA64;
}

#green{
	background-color: #439150;
	/*only his green box had clear:both; */
}

#blue{
	background-color: #486AE7;
}
#purple{
	background-color: #DDA4F3;
}