/*EXERCISE 1.4.4 -  - BOX POSITIONING WITH FLOATS ETC ***/

.container {
	min-height: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;

}

.big-box {
	/*position: relative;*/
	width: 72px;
	height: 72px;
	border: 1px solid green;
}

.box {
	/*position: absolute;*/
	border: black 1px solid;
	width: 49px;
	height: 49px;
	/*padding: 10px;*/
	/*margin-bottom: 0px;*/
	/*margin-left: 0px;*/

}

.arrow { 
	/*position: absolute;*/
	/*margin-top: 0px;*/
	/*margin-right: 0px;*/
}

#red{
	background-color: #D12F46;
}

#orange{
	background-color: #DBAE4D;
}

#yellow{
	background-color: #F5FA64;
}

#green{
	background-color: #439150;
	/*only his green box had clear:both; */
}

#blue{
	background-color: #486AE7;
}
#purple{
	background-color: #DDA4F3;
}


